body {
  min-width: 250px;
  padding-top: 70px;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  font-size: 2em;
}

h1, h2, h3, .nav-text-name {
  font-family: "Roboto Slab", "Roboto", serif;
  font-weight: 700;
}

.nav-text-name {
  font-size: 2em;
}

.nav-links {
  font-size: 1.5em;
}

.navbar-nav>li>a, .navbar-brand {
  line-height: 30px;
}

.sidebar-nav {
  top: 55px;
  margin-top: 25px;
  padding-left: 10px;
}

.page-header {
  text-align: center;
}

.anchor:before {
  content: "";
  display: block;
  height: 85px;
  margin-top: -85px;
  visibility: hidden;
}

.b-lazy {
    -webkit-transition: opacity 500ms ease-in-out;
       -moz-transition: opacity 500ms ease-in-out;
         -o-transition: opacity 500ms ease-in-out;
            transition: opacity 500ms ease-in-out;
               opacity: 0;
}
.b-lazy.b-loaded {
               opacity: 1;
}

.photo-img {
  padding: 0;
  width: 100%;
  float: left;
  border: 5px solid black;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.caption {
  padding-bottom: .5em;
  text-align: center;
  background-color: black;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  color: lightgray;
  margin-bottom: 1em;
  display: inline-block;
  width: 100%;
}

.panel-title {
  font-size: 1.1em;
}

.journal-wrapper {
  margin-top: 30px;
}

.img-wrapper {
  margin-top: 2em;
}

.about-icons {
  text-align: center;
}

.connect-title {
  text-align: center;
  margin-top: 5px;
}

.footer {
  text-align: center;
  background-color: #333;
  margin-top: 30px;
  padding: 10px;
  color: #777;
}

.footer-text {
  font-style: 1em;
}

a.text-muted:hover, .fa.text-muted:hover {
  color: #555;
  text-decoration: none;
}

.fa {
  margin: 0 5px;
}

footer .fa {
  margin: 0 15px;
}
